#topRightheader {
  display: flex;
  justify-content: space-between;
  margin-left: 60%;
  margin-right: 2%;
  letter-spacing: 1px;
}
.fixed-header {
  position: fixed;
  width: 101%;
  text-align: center;
  background-color: white;
  margin-top: -9px;
  margin-left: -6.5px;
}
#topLogo {
  width: 35%;
  display: flex;
  margin-left: 2%;
  justify-content: space-between;
}

#searchFlex {
  display: flex;
}
#search {
  margin: auto;
  width: 100px;
  margin-right: 10px;
  padding: 3px;
}
.fas {
  margin: auto;
  font-size: 15px;
}
#signIn {
  margin: auto;
  margin-left: 15px;
  font-size: 10px;
}
#signinButton {
  font-size: 13px;
  color: white;
  background-color: black;
  border: transparent;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px 5px;
  margin-top: -5px;
}
#logoandSearch {
  display: flex;
  margin-left: 600px;
}
#topRightheader > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
#quantity {
  height: 20px;
  background-color: yellowgreen;
  width: 20px;
  font-size: 15px;
  border-radius: 50%;
}
#topLogo > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2px;
}
.logo {
  font-weight: 400;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
a {
  text-decoration: none;
}
#shopNow {
  text-decoration: underline;
}
#shopNow:hover {
  color: white;
}
.link {
  padding-top: 7px;
}
.link:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 2px 2px;
}
.thickBorder {
  background-color: #edab00;
  width: 100%;
  height: 30px;
}

.thickBorder > p {
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: #004b45;
  letter-spacing: 1px;
  font-weight: 400;
  margin: auto;
}

.container {
  margin: auto;
  height: 500px;
  width: 400px;
  border: 1px solid transparent;
  margin-top: 30px;
  text-align: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgb(216, 205, 205);
  margin-top: 100px;
}
.bradius {
  width: 70%;
  border-radius: 30px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
span {
  color: blue;
  text-decoration: underline;
}
button {
  margin-top: 20px;
  border-radius: 30px;
  background-color: #3d0e20;
  color: white;
  padding: 10px 40px;
  letter-spacing: 1px;
}
button:hover {
  background-color: orange;
  cursor: pointer;
}
body {
  background-image: url("https://images.pexels.com/photos/1050244/pexels-photo-1050244.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
h2 {
  letter-spacing: 1px;
}
input:placeholder-shown {
  letter-spacing: 1px;
}

.tAndc {
  font-size: 10px;
}
#footer {
  background-color: wheat;
}
.referAndcard {
  display: flex;
  justify-content: space-around;
  /* background-color: white; */
}
.referAndcard > p {
  display: flex;
  border: 1px solid black;
  padding: 10px 50px;
}
.referAndcard > p,
a {
  color: black;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
#trackDetails {
  display: flex;
  font-size: 12px;
  justify-content: space-around;
}
#box1,
p {
  margin-left: 11px;
}
#box1 > .options {
  font-size: 10px;
  margin-top: -10px;
  margin-left: 40px;
}
.subp {
  font-size: 10px;
}
.copyRights {
  font-size: 10px;
  margin-left: 10px;
}
#box2 > p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.underLine {
  text-decoration: underline;
}
.hoverEffect:hover {
  cursor: pointer;
  text-decoration: underline;
}
#hover:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}
